accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
annotated-types
anyio
arabic-reshaper
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asn1crypto
asttokens
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
crispy-bootstrap5
crispy-tailwind
cryptography
cssselect2
cycler
debugpy
decorator
defusedxml
diffusers
distlib
dj-database-url
Django
django-allauth
django-bootstrap-v5
django-bootstrap5
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
django-oauth-toolkit
django-rest-auth
django-rest-framework-social-oauth2
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
EasyProcess
einops
entrypoint2
environ
executing
fastapi
fastjsonschema
ffmpy
filelock
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
git-filter-repo
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gradio
gradio_client
gunicorn
h11
html5lib
httpcore
httplib2
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
ipykernel
ipython
isoduration
itsdangerous
jedi
Jinja2
jovian
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab_pygments
jupyterlab_server
jwcrypto
kiwisolver
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
MouseInfo
mpmath
mss
multidict
mysql-connector-python
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook_shim
numpy
oauth2client
oauthlib
onnxruntime
opencv-python
orjson
oscrypto
overrides
packaging
pandas
pandocfilters
parso
pdf2image
phonenumbers
pillow
pipenv
platformdirs
plotly
prometheus_client
prompt_toolkit
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure_eval
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic_core
PyDrive
pydub
pydyf
PyGetWindow
Pygments
pyHanko
pyhanko-certvalidator
PyJWT
PyMsgBox
PyMySQL
pyparsing
pypdf
pyperclip
pyphen
pypng
pyreadline3
PyRect
pyscreenshot
PyScreeze
pytesseract
python-bidi
python-dateutil
python-decouple
python-json-logger
python-multipart
python3-openid
pytweening
pytz

pywinpty
PyYAML
pyzmq
qrcode
referencing
regex
reportlab
requests
requests-oauthlib
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruff
safetensors
semantic-version
Send2Trash
shellingham
six
sniffio
social-auth-app-django
social-auth-core
soupsieve
sqlparse
sslcommerz-lib
stack-data
starlette
svglib
sympy
tenacity
terminado
tinycss2
tokenizers
tomlkit
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
twilio
typer
types-python-dateutil
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
uritools
urllib3
uuid
uvicorn
virtualenv
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
xhtml2pdf
yarl
zipp
zopfli
