django
djangorestframework  
djangorestframework_simplejwt 
psycopg2-binary 
pip
python-dotenv   
whitenoise 
django-cors-headers
boto3
Pillow
requests
django-environ
django-filter
twilio
phonenumbers
drf-yasg
